
table, tr, td, ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
table {
  margin: 10px;
}

td {
  vertical-align: top;
}

.header {
  padding-bottom: 5px;
  text-align: center;
}
.footer {
  padding-top: 5px;
  text-align: center;
}

.statusIcon {
  padding-right: 3px;
}
.connectionCount {
}
.tlsInfo {
}
.proxyInfo {
  padding-top: 1px;
  padding-right: 3px;
}
.hostname {
  padding-right: 5px;
}
tr.main .hostname {
  font-weight: bold;
}
.ipAddress {
  padding-right: 3px;
}
.ipToggle {
}

.hostname, .ipAddress, .ipToggle {
  cursor: pointer;
}

a {
  font-size: smaller;
  color: #000;
}
